{% load bootstrap5 %}
{% load bootstrap_icons %}
{% load static %}

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block titulo  %}{% endblock  %} </title>
    </head>
    {% bootstrap_css %}
    <link href="{% static 'css/estilo.css' %}" rel="stylesheet" />
    
<body>
    {% include 'menu.html'  %}

    <div class="container" style="margin-top: 50;"> 

    {% include 'mensaje.html'  %}  
    
    {% block contenido  %}
    
    {% endblock  %}
    </div>




    {% include 'footer.html' %}
    
    <script src="{% static 'js/local.js' %}"> </script>
    {% bootstrap_javascript %}
</body>
</html>