{% extends 'base.html' %}
{% load bootstrap_icons %}
{% load static %}

{% block titulo  %}
    {{ titulo }}
{% endblock  %}

{% block contenido  %}

    <div class="row">
        {% for row in listado %}
        <div class="col-6">
            <div class="card mb-2">
                <div class="card-body">
                    <a href="/detalle/{{ row.id }}" class="text-decoration-none">
                        {% if row.foto %}
                            <img src="{{ row.foto.url }}" />
                        {% else %}
                            <img src="{% static 'img/noevento.jpg' %}" alt="logo UG" /> 
                        {% endif %}
                     
                        <h3 class="card-title text-center text-uppercase text-black">                        
                                {{ row.nombre }}
                            
                        </h3>
                    </a>
                    <div class="row mb-2">
                        <div class="col d-flex align-items-start flex-row align-self-center">
                            <span class="mr-2 fs-6 fw-light text-muted">Inicio:&nbsp;</span>
                            <strong class="fs-6 text-muted">{{ row.inicio }}</strong>
                        </div>
                        <div class="col d-flex align-items-end flex-row justify-content-end">
                            <span class="mr-2 fs-6 fw-light text-muted">Fin:&nbsp;</span>
                            <strong class="fs-6 text-muted">{{ row.fin }}</strong>
                        </div>
                    </div>

                    {% if row.diploma %}
                        <span class="badge bg-warning">Incluye Diploma</span>
                    {% endif %}

                    <div class="row">
                        <div class="col">
                            Q {{ row.precio }}
                        </div>
                        <div class="col col d-flex align-items-end flex-column">                            
                             <a href="#" class="btn btn-link text-decoration-none">
                                {% bs_icon 'cart-x-fill' %}
                                Agregar al Carrito
                            </a>
                        </div>
                    </div>


                </div>        
            </div>
        </div>
        {% endfor %}
    </div>

    
   
        {% comment %} <li> {{ row.nombre }} + <span class="badge text-bg-warning">{{ row.precio }} </span> {% endcomment %}
        
   
    
    
{% endblock contenido  %}